<!DOCTYPE html>
<html>

<head>
    <title>Abadejo-chess</title>
    <link rel="stylesheet" href="static/css/chessboard-1.0.0.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="static/js/chessboard-1.0.0.min.js"></script>
</head>

<body style="background-color:#8b9bad">
    <div>
        <table>
            <tr>
                <td>
                    <div id="myBoard" style="width: 550px"></div>
                    <!--img src="board.svg"></im-->
                </td>
                <td>
                    <table>
                        <tr>
                            Evaluation: {{eval}}
                            <div white-space: pre-line></div>
                            Material Count: {{pCount}}
                            <div white-space: pre-line></div>
                            Elapsed time: {{moveTime}} s
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    {% for m in moves %}
                                    {% set i = loop.index0 %}
                                    {% if not (i) % 38 %}
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td> </td>
                                        <td> <strong>W</strong> </td>
                                        <td> <strong>B</strong> </td>
                                        {% endif %}
                                        {% if (i-1) %2 %}
                                    </tr>
                                    <tr>
                                        <td><strong>{{ ((i+3) / 2)|int }}</strong></td>
                                        {% endif %}
                                        <td>{{m}}</td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </td>
        </tr>
        </table>
    </div>
    <div style="width: 100%; overflow: hidden;">
        <H1></H1>
        <div style=" width: 350px; float: left;">
            <form>
                <a href=# id=test><button class='btn btn-default'>Computer Move</button></a>
            </form>
        </div>
        <div style="margin-left: 370px;">
            <form method="post" action="/human_move">
                <input type="text" name="hmove"></input><input type="submit" value="Human Move">
            </form>
        </div>
    </div>

    <script>
        var board = null
        var $status = $('#status')
        var $fen = $('#fen')
        var $pgn = $('#pgn')

        function onDrop(source, target, piece, newPos, oldPos, orientation) {
            console.log('UCI: ' + source + target)
            $.post('/human_move', { hmove: 'UCI: ' + source + target })
                .done(function (data) {
                    location.reload()
                });

        }

        var config = {
            draggable: true,
            position: '{{fen}}',
            onDrop: onDrop,
            pieceTheme: 'static/img/chesspieces/wikipedia/{piece}.png',
        }
        board = Chessboard('myBoard', config)


    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#test').on('click', function(e) {
                e.preventDefault()
                $.post('/move',
                    function(data) {
                    location.reload();
                });

                return false;
              });

            });
    </script>

</html>
</body>